[submodule "SpriteDATGenerator"]
    path = SpriteDATGenerator
    url = https://github.com/AB360-org/SpriteDATGenerator.git
[submodule "ABStudio"]
	path = ABStudio
	url = https://github.com/giroletm/ABStudio.git
